/* ShowMendata.css */

.show-mendata-card {
  width: 250px;
  margin: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box;
  background-color: #fff;
}

.show-mendata-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 8px;
}

.show-mendata-title {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.show-mendata-price {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}

.show-mendata-category {
  color: #535766;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.show-mendata-rating {
  font-size: 12px;
  font-weight: 700;
  color: #888;
}

.show-mendata-button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
